	<footer>
		<div class="footer_nav">
			<ul>
				<li><a href="#top">Top</a></li>
				<li><a href="#contact_us">Contact Us</a></li>
				<li><a href="#about">About</a></li>
			</ul>
		</div>
		<p>© RealtyPro Technologies</p>
	</footer>