<div class="headerWrapper">
	<div class="container">
		<div class="row-fluid">
			<div class="span2 logo_link">
				<%= link_to(root_path) do %><div class="HFlogo"></div><% end %>
			</div>
			<div class="span4"></div>
			<div class="span6">
				<ul class="nav">
					<li class="features"><a href="#tut_conversation">Features</a></li>
					<li class="contact_us"><a href="#contact_us">Contact Us</a></li>
					<li class="about"><a href="#about">About</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
