<div class="headerWrapper">
	<div class="container">
		<div class="row-fluid">
			<div class="span3">
				<a href="http://localhost:3000/" class="logo_link"><div class="HFlogo"></div></a>
			</div>
			<div class="span9">

					<ul class="nav">
						<li class="features"><a href="#tut_conversation">Features</a></li>
						<li class="about"><a href="#about">About</a></li>
						<li class="contact_us"><a href="#contact_us">Contact Us</a></li>
					</ul>

			</div>
		</div>
	</div>
</div>
