<div class="headerWrapper">
	<div class="container">
		<div class="row-fluid">
			<div class="span6">
				<div class="HFlogo"></div>
			</div>
			<div class="span6">

					<ul class="nav">
						<li>Features</li>
						<li>About</li>
						<li>Newsletter</li>
					</ul>

			</div>
		</div>
	</div>
</div>