<div class="headerWrapper">
	<div class="container">
		<div class="row-fluid">
			<div class="span6">
				<div class="HFlogo"></div>
			</div>
			<div class="span6">

					<ul class="nav">
						<li class="features">Features</li>
						<li class="about">About</li>
						<li class="newsletter">Newsletter</li>
					</ul>

			</div>
		</div>
	</div>
</div>
