/* Style Sheet for HomeFlare - by RealtyPro Technologies
	last updated: 10-31-12 
	authors: Elliott Smiggen, Shun Shiga 
*/

/* Reset by Eric Meyers */
	/* http://meyerweb.com/eric/tools/css/reset/ 
	   v2.0 | 20110126
	   License: none (public domain)
	*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
/* End Reset */

/* Nav Begin */
.headerWrapper {
	width:100%;
	height:40px;
	background-color: #f5f5f5;
	border-bottom: solid 4px #a73a37;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5F5F5), to(#EBEBEB));
	background-image: -moz-linear-gradient(19% 75% 90deg,#f5f5f5, #EBEBEB);
	-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.75);
	position:fixed;
	z-index:10;
	overflow:hidden;
}
.logo_link {
	width:180px;
	height:36px;
}
.HFlogo {
	background: url("homeflare_logo.png") no-repeat;
	margin-top:4px;
	width:180px;
	height:36px;
}
.nav {

}
.nav li {
	float:left;
	height:25px;
	text-align:center;
	padding-top:15px;
	padding-left:20px;
	padding-right:20px;
	border-left:1px solid #ccc;
}
.nav li a {
	color:#666;
	height:25px;
	width:100%;

}
.nav li:hover {
	color:#fff;
	background-color:#A73A37;
	cursor:pointer;
}
.contact_us {
	border-right:1px solid #ccc;
}
.nav li:hover a{
	background-color:#A73A37;
	color:#fff;
}
.nav_icons {
	position:relative;
	top:40px;
	display:block;
	width:152px;
	height:42px;
	margin:0 auto 0;
	z-index:9;
	border-radius:0px 0px 5px 5px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);

background-color:#F5F5F5;
border:4px solid #a73a37;
}
.searchCont i {
	color:#a73a37;
	font-size: 50px;
}
.searchCont{
	position:relative;
	width:50px;
	height:42px;
	float:left;
	border-right:1px solid #CCCCCC;
}
.shareCont{
	width:50px;
	height:42px;
	float:left;
}
.showCont{
	width:50px;
	height:42px;
	float:left;
	border-left:1px solid #CCCCCC;
}
/* Nav End */

/* Introduction Styles */
.intro_wrapper {
	margin-top:0px;

}
.pop_out {
	display:none;
	position:absolute;
	top:139px;
	left:-200px;
	width:276px;
	height:365px;
	background:url("temppop.png") no-repeat;
	z-index:1;
}
.realtor{
	background: rgba(255, 255, 255, .25);
	float:left;
	height:300px;
	width:200px;
}
.client{
	background: rgba(255, 255, 255, .25);
	float:right;
	height:300px;
	width:200px;
}
.content_padding p {
	line-height:18px;
}
.content_padding a {
	color:#a73a37;
}
.hook_h3 {
	text-indent: 10px;
	font-size:1.25em;
	letter-spacing:1px;
	border-bottom:4px solid #666;
	border-radius:0px 0px 5px 5px;
	margin-bottom: 15px;
}
.hook_p {
	line-height:18px;
	color:#999;

}
/* Introduction Styles End */

/* Tutorial Styles */
.nav-tabs {
	width:170px;
	background-color:#fff;
	border-radius:10px;
	box-shadow: -5px 5px 3px -3px #999;
}
.scroll_trigger {
	top:20%;
}
.tabs-left > .nav-tabs {
	border:4px solid #a73a37;
	overflow:hidden;
}
.tabs-left > .nav-tabs > li:hover {
	color:#fff;
}
.tabs-left > .nav-tabs > li {
	width:170px;
	border-left:0px;
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom:0px;
    margin-bottom:0px;
    text-align: center;
}
.tabs-left > .nav-tabs > li > a {
    border-left:0px;
    float: left;
    height: 28px;
    overflow:hidden;
    width:120px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom:10px;
    margin-bottom:0px;
}
.tabs-left > .nav-tabs > li > a:hover {
	border:none;
}
/* Tutorial Styles End */
/* Shun's Styles v.2 */

body {
	background-image: url(../img/bg/txture.png);

	/* background-image: url(../img/bg/asfalt.png); */
	background-repeat: repeat;
	color: #636363;
	font-family: Helvetica, “Helvetica Neue”, Arial, sans-serif;
	font-size: 14px;
}
h3 {
	letter-spacing: -1px;
}
.float_right {
	float: right;
}
.a73a37 {
	color: #a73a37;
}
.text_align_center {
	text-align: center;
}
.call_to_action_wrapper {
	position: relative;
	top:-6px;
	padding: 60px 0 100px 0;
	background: url("bg/house_bg.jpg") no-repeat;
}
.call_to_action_wrapper img {
	padding: 5px;
	background-color: #ffffff;
		-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
		- moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}
.call_to_action_wrapper h2 {
	color: #a73a37;
	font-size: 60px;
	line-height: 80px;
	text-align: center;
	letter-spacing: -2px;
	text-shadow:2px 2px 1px #ccc;
	margin-bottom:20px;
}
.call_to_action_wrapper .h2_override {
	position:relative;
	top:-10px;
	color: #a73a37;
	font-size: 40px;
	text-align: center;
	letter-spacing: -2px;
	text-shadow:1px 1px 0px #ccc;
	border-bottom:4px solid #a73a37;
	border-radius:0px 0px 5px 5px;

}
.call_to_action_wrapper h3 {
	color: #999;
	text-align: center;
	line-height: 15px;
	letter-spacing: -1px;
	text-shadow:1px 1px 0px #fff;
}

.call_to_action_buttons_wrapper {
	text-align: center;
	margin-top:30px;
}
.call_to_action_buttons_wrapper a {
	margin: 0 10px 0 0;
}
.btn-sign-up {
	background-color: hsl(360, 52%, 37%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ca5858", endColorstr="#8f2d2d");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ca5858), to(#8f2d2d));
	background-image: -moz-linear-gradient(top, #ca5858, #8f2d2d);
	background-image: -ms-linear-gradient(top, #ca5858, #8f2d2d);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ca5858), color-stop(100%, #8f2d2d));
	background-image: -webkit-linear-gradient(top, #ca5858, #8f2d2d);
	background-image: -o-linear-gradient(top, #ca5858, #8f2d2d);
	background-image: linear-gradient(#ca5858, #8f2d2d);
	border-color: #8f2d2d #8f2d2d hsl(360, 52%, 32%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
}
.main_content_wrapper_bg {
	background-color: #f5f5f5;
	background-image: url(../img/bg/main_content_wrapper_bg_repeat_x.jpg);
	background-repeat: repeat-x;
	position:relative;
	z-index: 2;
}
.main_content_wrapper {
	margin: -40px 0 0 0;
	background-color: #f5f5f5;
	/*
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
	- moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
	*/
}
.main_content_wrapper h2 {
	letter-spacing: -1px;
	-webkit-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.75);
	- moz-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.75);
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.75);
}
.content_padding {
	padding: 20px 30px 30px 30px;
}
.main_content_callout_wrapper {
	height: 300px;
	background-color: #d7d7d7;
	border-top: 1px solid #c2c2c2;
	border-bottom: 1px solid #c2c2c2;
}
.sub_header {
	width: 100%;
	height: 60px;
	background-color: #a73a37;
}
.sign_up_index {
	padding: 10px 0 10px 0;
	background-color: #a73a37;
	-webkit-border-radius: 10px;
	- moz-border-radius: 10px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	- moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.sign_up_index form {
	margin: 0;
}
a.connect_to_facebook:link {
	width: 237px;
	height: 40px;
	background-image: url(../img/connect_facebook.png);
	background-repeat: none;
	background-position: 0 0;
	display: block;
}
a.connect_to_facebook:hover {
	width: 237px;
	height: 40px;
	background-image: url(../img/connect_facebook.png);
	background-repeat: none;
	background-position: 0 -40px;
	display: block;
}
}
a.connect_to_facebook:active {
	width: 237px;
	height: 40px;
	background-image: url(../img/connect_facebook.png);
	background-repeat: none;
	background-position: 0 -80px;
	display: block;
}



.start_convo {
	text-align:center;
	font-size:2em;
	text-shadow:1px 1px #5b1715;
	border-bottom:5px solid #a73a37;
	border-radius:5px;
	font-family: "Lato", "Istok Web", Verdana;
	font-weight:700;
	box-shadow: 0 5px 3px -3px #999999;
}
.start_convo button {
	margin-bottom:25px;
}
.start_convo a {
	color:#cdcdcd;
	letter-spacing:1px;
}

.start_convo a:hover {
	color:#c3504d;
	text-decoration: none;
}
.span3 .contact_profile_sub_header {
	margin: 0 0px 20px 0px;
	padding: 10px 0 7px 0;
	font-size: 18px;
	font-weight: bold;
	border-bottom:4px solid  #a73a37;
	width:180px;
}
.contact_profile_sub_header {
	margin: 0 0px 20px 0px;
	padding: 10px 0 7px 0;
	font-size: 18px;
	font-weight: bold;
	border-radius:5px;
	border-bottom:4px solid  #a73a37;
	box-shadow: 0 5px 3px -3px #999;
}
.contact_profile_sub_header p {
	text-align: center;
	color:#a73a37;
}
.contact_profile_conversation_wrapper {
	background-color:#fafafa;
	border:1px solid #DBDBDB;
	overflow: hidden;
	padding:20px;
	border-radius:5px;
}
.contact_profile_conversation_timestamp {
	width: 100%;
	margin: 0 0 10px 0;
	color: #959595;
	text-align: center;
	border-bottom: solid 1px #c2c2c2;
}
.contact_profile_conversation_left {
	width: 75%;
	margin: 3px 0 5px 3px;
	padding: 15px 20px 15px 20px;
	background-color: #e1e1e1; 
	float: left;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright:: 10px;
	border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-box-shadow:  0px 1px 5px rgba(0, 0, 0, 0.5);
	- moz-box-shadow:  0px 1px 5px rgba(0, 0, 0, 0.5);
	box-shadow:  0px 1px 5px rgba(0, 0, 0, 0.5);
}
.contact_profile_conversation_right {
	width: 75%;
	margin: 3px 3px 5px 0;
	padding: 15px 20px 15px 20px;
	background-color: #f5f5f5;
	float: right;
	text-align: right;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft:: 10px;
	border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-box-shadow:  0px 1px 5px rgba(0, 0, 0, 0.5);
	- moz-box-shadow:  0px 1px 5px rgba(0, 0, 0, 0.5);
	box-shadow:  0px 1px 5px rgba(0, 0, 0, 0.5);

}
.contact_profile_conversation_left a {

	color: #a73a37;

}
.contact_profile_conversation_right a:hover {
	color: #a73a37;

}
.contact_profile_conversation_right a {

	color: #a73a37;

}
.contact_profile_conversation_left a:hover {
	color: #a73a37;

}
.contact_profile_conversation_left_flare {
	width: 75%;
	margin: 3px 0 5px 3px;
	padding: 15px 20px 15px 20px;
	background-color: rgba(167, 58, 55, 0.8); 
	color: #f5f5f5;

	float: left;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright:: 10px;
	border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-box-shadow:  0px 1px 5px rgba(0, 0, 0, 0.5);
	- moz-box-shadow:  0px 1px 5px rgba(0, 0, 0, 0.5);
	box-shadow:  0px 1px 5px rgba(0, 0, 0, 0.5);
}
.contact_profile_conversation_right_flare {
	width: 75%;
	margin: 3px 3px 5px 0;
	padding: 15px 20px 15px 20px;
	background-color: rgba(167, 58, 55, 0.8);
	color: #f5f5f5;
	float: right;
	text-align: right;
	border-top-left-radius:10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-box-shadow:  0px 1px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:  0px 1px 5px rgba(0, 0, 0, 0.5);
	box-shadow:  0px 1px 5px rgba(0, 0, 0, 0.5);

}
.contact_profile_conversation_left_flare a {

	color: #f5f5f5;

}
.contact_profile_conversation_right_flare a:hover {
	color: #a73a37;

}
.contact_profile_conversation_right_flare a {

	color: #f5f5f5;

}
.contact_profile_conversation_left_flare a:hover {
	color: #a73a37;

}
.contact_profile_conversation_bundle_left {
	width: 75%;

	margin: 0 0 20px 0;
	float: left;
}
.contact_profile_conversation_bundle_right {
	width: 75%;

	margin: 0 0 20px 0;
	float: right;
}

/* Tutorial Styles */
.black {
	position:absolute;
	height:200px;
	width:400px;
	color:#000;

}
.right_float {
	float:right;
}
.chapter {
	padding-top:50px;
	padding-bottom:50px;
	width:100%;
	border-radius:5px;
}
.bigWelcome {
	font-size:6em;
	color:#a73a37;
	text-shadow:1px 1px #5b1715, 0px 0px 30px #A73A37;
}
.smallWelcome{
	font-size:4em;
	color:#a73a37;
	text-shadow:1px 1px #5b1715, 0px 0px 30px #A73A37;
	margin-bottom:50px;
}
.tut_header {
	font-size:4em;
	background: rgb(184,96,94);
	background: -moz-linear-gradient(left,  rgba(184,96,94,1) 0%, rgba(91,23,21,1) 98%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(184,96,94,1)), color-stop(98%,rgba(91,23,21,1)));
	background: -webkit-linear-gradient(left,  rgba(184,96,94,1) 0%,rgba(91,23,21,1) 98%);
	background: -o-linear-gradient(left,  rgba(184,96,94,1) 0%,rgba(91,23,21,1) 98%);
	background: -ms-linear-gradient(left,  rgba(184,96,94,1) 0%,rgba(91,23,21,1) 98%);
	background: linear-gradient(to right,  rgba(184,96,94,1) 0%,rgba(91,23,21,1) 98%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8605e', endColorstr='#5b1715',GradientType=1 );
	border:2px solid #5b1715;
	color:#fff;
	font-family:"Istok Web", "Lato", Verdana;
	text-shadow:2px 2px #5b1715;
	box-shadow: 0px 0px 5px #000;
	text-indent:20px;
	padding:10px;
	margin-bottom:25px;
	border-radius:5px 30px 5px 30px;
}
.splash_img {
	height:862px;
	width:1012px;
	background:url("homeflaresplash.jpg") no-repeat;
	margin:0 auto 0;
}
.add_point {
	background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 5px 5px 5px 5px;
    margin-bottom:20px;
}
.add_point:hover {
	border:1px solid #999;
	box-shadow: inset 0 0 1em #cdcdcd;
}
.flare_page {
	background:url("flares.png");
	height:479px;
	width:100%;
	border:1px solid #999;
}
.tutorial {
	position: relative;
	padding:20px;
	float:left;
	background-color: rgba(0, 0, 0, .65);
	border:1px solid #000;	
	margin-bottom:50px;
	margin-left:25px;
	margin-top:-15px;
	border-radius:5px;
	box-shadow: inset 0 0 10px #cdcdcd;
}
.tutorial h4 {
	border-bottom: 1px solid #B75F5D;
	color:#f5f5f5;
	text-shadow:1px 1px #333;
	font-size:1.15em;
	font-variant:small-caps;
	font-weight: bold;
}
.tutorial p {
	padding:10px;
	color:#f5f5f5;
	text-shadow:1px 1px #555;
	line-height:18px;
	letter-spacing:1px;
	text-indent: 10px;
	font-size:1.1em;
	font-family: "Lato", "Istok Web", Verdana;
}
.arrow {
	position:absolute;
	font-size:60px;
    color:#666;
    text-shadow:0px 0px;
}
.leftPos {
	top:-20px;	
    left:-40px;
}
.rightPos {
	top:140px;
}
.intro_one {
	position:relative;
	left:50px;
	top:150px;
	max-width:250px;
}
.intro_two {
	position:relative;
	top:200px;
	left:400px;
	max-width:250px;
}
.intro_three {
	position:relative;
	left:-650px;
	top:350px;
	max-width:250px;
	max-height:250px;
}
.intro_four {
	position:relative;
	right:-200px;
	top:200px;
	max-width:250px;
	max-height:250px;
}
.to_top {
	float:right;
	color:#B75F5D;
	font-weight:normal;
	font-variant:normal;
}
.step {
	max-width:500px;
	max-height:500px;
}
.step_flare1 {
	right:-10px;
	float:right;
	max-width:275px;
}
.step_flare2 {
	top:300px;
	right:50px;
	max-width:150px;
}
.step_flare3 {
	float:right;
	top:50px;
	right:-50px;
	max-width:150px;
}
.showings {
	background:url("showings.png");
	width:100%;
	height:609px;
	border:1px solid #999999;
}
.step_showing1 {
	max-width:350px;
}
.step_showing2 {
	top:100px;
	left:25px;
	max-width:200px;
}
.step_showing3 {
	top:200px;
	max-width:250px;
}
.realty_pro{
	float:left;
	background:url("realtypro.png") no-repeat;
	margin:0 auto 0;
	border:1px solid #cdcdcd;
	width:75px;
	height:75px;
	margin-right:20px;
	margin-bottom:20px;
}
footer {
	background-color: #cdcdcd;
	height:50px;
	width:100%;
}
footer p {
	color:#aaa;
	height:30px;
	padding-top:20px;
	margin-left:50px;
}
.footer_nav {
	display:inline;
	height:50px;
	float:right;
	width:300px;
}
.footer_nav ul {
	height:50px;
}
.footer_nav ul li {
	height:30px;
	float:right;
	color:#999;
	padding-top:20px;
	padding-right:20px;
	padding-left:20px;
	border-left:1px solid #bebebe;
}
.footer_nav ul li a {
	color:#aaa;
}
.footer_nav ul li a:hover {
	color:#a73a37;
}
h2 {
	letter-spacing: -1px;
}


/* Type */
.sign_up_index_type {
	color: #f5f5f5;
	font-size: 22px;
	font-style: italic;
} 

/* Shun Styles End */ 





/* Unused Styles */

/* Shared Pages */

/*.box-shadow {
	box-shadow:0 10px 85px rgba(0, 0, 0, 0.2) inset;
}
.featureBanner {

}
.aboutBanner {
	display:none;
}
.newsletterBanner {
	display:none;
}*/
/* End Shared Pages */

/* Home Page Begin */
/*.container-about {
	position:absolute;
	right:2000px;
	width:100%;
	z-index:7;
	margin-top:50px;
	background-color:#F2F2F2;
	color:#666;
}
.container-features {
	position:absolute;
	width:100%;
	z-index:8;
	margin-top:50px;
	background-color:#F2F2F2;
	color:#666;
}
.container-newsletter {
	position:absolute;
	right:2000px;
	width:100%;
	z-index:6;
	margin-top:50px;
	background-color:#F2F2F2;
	color:#666;
}

End Home Page 

 Shun's Styles 

html {overflow-y: scroll;}
body {
	background-color: #F2F2F2;
	color: #F2F2F2;
	font-family: Helvetica, “Helvetica Neue”, Arial, sans-serif;
	font-size: 14px;
}
header {

}
h3 {
	font-size:2em;
	letter-spacing: -1px;
}
.a73a37 {
	color: #a73a37;
}
.text_align_center {
	text-align: center;
}
.spacerCont {
	height:40px;
}
.content_spacer {
	width:100%;
	border-top: 4px solid #A73A37;
	box-shadow:0 -2px 3px rgba(0, 0, 0, 0.75);
}
.call_to_action_wrapper {
	width:100%;
	padding: 100px 0 60px 0;
	background:url(bg/bg-will.jpg);
	height:200px;
	width:100%;
}
.call_to_action_wrapper img {
	padding: 5px;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
	- moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}
.call_to_action_wrapper h2 {
	color: #ebebeb;
	font-size: 60px;
	line-height: 50px;
	text-align: center;
	font-weight:bold;
	letter-spacing: -2px;
	-webkit-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
	- moz-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}
.call_to_action_wrapper .h2_override {
	color: #ebebeb;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	font-weight:bold;
	letter-spacing: -2px;
	-webkit-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
	- moz-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}
.call_to_action_wrapper h3 {
	color: #c2c2c2;
	text-align: center;
	line-height:35px;
	letter-spacing:1px;
	font-size:20px;
	font-weight:bold;
	-webkit-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
	- moz-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
	margin-top:35px;
}
.call_to_action_buttons_wrapper {
	padding: 60px 0 0 0px;
}
.call_to_action_buttons_wrapper a {
	margin: 0 10px 0 0;
}
.call_to_action_buttons_wrapper form {

}
.btn-sign-up {
	background-color: hsl(360, 52%, 37%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ca5858", endColorstr="#8f2d2d");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ca5858), to(#8f2d2d));
	background-image: -moz-linear-gradient(top, #ca5858, #8f2d2d);
	background-image: -ms-linear-gradient(top, #ca5858, #8f2d2d);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ca5858), color-stop(100%, #8f2d2d));
	background-image: -webkit-linear-gradient(top, #ca5858, #8f2d2d);
	background-image: -o-linear-gradient(top, #ca5858, #8f2d2d);
	background-image: linear-gradient(#ca5858, #8f2d2d);
	border-color: #8f2d2d #8f2d2d hsl(360, 52%, 32%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
}
.main_content_wrapper {
	background-color: #f5f5f5;
}
.main_content_wrapper h2 {
	letter-spacing: -1px;
	-webkit-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.75);
	- moz-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.75);
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.75);
}
.content_padding {
	padding: 20px 30px 60px 30px;
	text-shadow:1px 1px #fff;
}
.featureTitle {
	background: rgb(167,58,55);
	background: -moz-linear-gradient(left,  rgba(167,58,55,1) 0%, rgba(91,23,21,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(167,58,55,1)), color-stop(100%,rgba(91,23,21,1)));
	background: -webkit-linear-gradient(left,  rgba(167,58,55,1) 0%,rgba(91,23,21,1) 100%);
	background: -o-linear-gradient(left,  rgba(167,58,55,1) 0%,rgba(91,23,21,1) 100%);
	background: -ms-linear-gradient(left,  rgba(167,58,55,1) 0%,rgba(91,23,21,1) 100%);
	background: linear-gradient(to right,  rgba(167,58,55,1) 0%,rgba(91,23,21,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a73a37', endColorstr='#5b1715',GradientType=1 );
	text-shadow:2px 2px #5B1715 ;
	color:#F0F0F0;
	border-bottom:2px solid #5b1715;
	border-top-left-radius:10px;
	border-bottom-right-radius:10px;
	margin-bottom:20px;
	padding:5px 0 5px 20px;
}
.content_padding p {
	line-height:20px;
}
.main_content_callout_wrapper {
	height: 300px;
	background-color: #d7d7d7;
	border-top: 1px solid #c2c2c2;
	border-bottom: 1px solid #c2c2c2;
}
.sub_header {
	width: 100%;
	height: 60px;
	background-color: #a73a37;
}
footer {
	background-color: #F2F2F2;
	height: 200px;
	margin: 0 0 100px 0;

}
h2 {
	letter-spacing: -1px;
}

 /* Unused Styles */